@import './app.scss';

.category-page {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: calc(100vh - 48px);

  .page-detail {
    flex-shrink: 0;
    @include form-style();
  }

  .page-list {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    margin-top: 24px;

    & > div {
      flex: 1;
    }

    .panel-header {
      display: flex;
      font-weight: bold;

      .interfaceName {
        width: 200px;
        margin-right: 6px;
        text-align: center;
      }

      .method {
        background-color: $mianColor;
        color: $whiteColor;
        border-radius: 20px;
        width: 100px;
        margin-right: 6px;
        text-align: center;
      }

      .url {
        flex: 1;
        padding-left: 18px;
      }
    }

    .pannel-content {
      & > div {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      .title {
        margin-bottom: 12px;
        background-color: rgba($color: $mianColor, $alpha: 0.3);
        padding: 8px 16px;
        border-radius: 4px;
      }
    }
  }

  .button-box {
    .detail {
      margin-right: 8px;
    }
  }
}
